## Setting up database connection
spring.datasource.url=jdbc:mysql://<host>/<database>
spring.datasource.username=
spring.datasource.password=

# enable jdbc driver and mysql
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# enable create database table when run the application
spring.jpa.generate-ddl=true

# disable display sql query
spring.jpa.show-sql = false

# JWT secret Key
jwt.token.secretKey=FEZLn8pBdz83l1q

# format date
spring.jackson.date-format=yyyy-MM-dd HH:mm:ss
spring.jackson.time-zone=America/Los_Angeles

## MULTIPART (MultipartProperties)
# Enable multipart uploads
spring.servlet.multipart.enabled=true
# Threshold after which files are written to disk.
spring.servlet.multipart.file-size-threshold=2MB
# Max file size.
spring.servlet.multipart.max-file-size=200MB
# Max Request Size
spring.servlet.multipart.max-request-size=215MB
